@font-face {
    font-family: "Nunito";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 1 999;
    src:
        local("Nunito"),
        url("../assets/fonts/Nunito.ttf") format("truetype");
}
